.telegram-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.button {
    border: 0.25rem solid var(--body--text-color);
    background-color: var(--translucent--transparent);
    color: var(--body--text-color);
    border-radius: 1.125rem;
    padding: 0.625rem 1.125rem 0.5rem;
    font-size: 1.625rem;
    font-weight: 700;
    text-decoration: none;
    transition: box-shadow 0.3s, transform 0.3s;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    margin: 0 1rem;
}

.button:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.3);
}

.w-button {
    color: #fff;
    line-height: inherit;
    cursor: pointer;
    background-color: #3898ec;
    border: 0;
    border-radius: 0;
    padding: 9px 15px;
    text-decoration: none;
    display: inline-block;
}

a {
    background-color: rgba(0, 0, 0, 0);
}
