@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

.background {
  background-color: rgb(250, 245, 223);
}

.bigTitle {
  font-size: "40px",
}

h2 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 3.75rem;
  font-weight: 700;
  line-height: 1.1;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem; /* Adjust padding as needed */
}

.logo {
  font-size: 3rem; /* Adjust font size as needed */
  margin: 0 1rem; /* Add margin to both sides */

}

.margins {
  padding-left: 150px ; /* Ajustez la valeur selon vos besoins */
  padding-right: 150px ; /* Ajustez la valeur selon vos besoins */

}






.header-container {
  display: flex;
  align-items: center;
}

.wiggly-logo {
  animation: wiggle 1s infinite;
}

@keyframes wiggle {
  0%, 100% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(5deg);
  }
}


.wigglywormlogo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2z0px; /* Adjust padding as needed */
}
